@font-face {
  font-family: 'CNN Sans';
  src: url('../../public/assets/fonts/cnn-sans-display-w04-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CNN Sans';
  src: url('../../public/assets/fonts/cnn-sans-display-w04-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CNN Sans';
  src: url('../../public/assets/fonts/cnn-sans-display-w04-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS padrão para largura máxima de trabalho */
.container{
    padding: 24px;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

/* mockups temporarios para desenvolvimento */
.header-mockup, .footer-mockup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35vh;
    background-color:rgb(184, 151, 151);
}